<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="bismillah_tugasAkhir_Bimbel.Properties.Settings.bimbelhimalayaConnectionString"
            connectionString="Data Source=NURLIATEGARAPRI;Initial Catalog=bimbelhimalaya;User ID=sa;Password=aprinne"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>